# Quiz Pekan - 3

Dataset-dataset berikut ini menunjukkan persentase fat, protein, dan food yang dikonsumsi dari setiap jenis makanan yang terdaftar. Beberapa bagian akhir dataset juga mencakup persentase obesitas(Obesity), kurang gizi(Undernourished), dan kasus COVID-19 yang Terkonfirmasi(Confirmed)/Kematian(Deaths)/Sembuh(Recovered)/Aktif(Active).

(Catatan: Semua data memiliki unit '%' (persen) kecuali Populasi, unit persen tersebut dihitung berdasarkan jumlah populasi).

Link Download:

[Food_Supply_Quantity_kg_Data.csv](https://drive.google.com/uc?export=download&id=1op0PFMMNglFtw8GVOF6HmomyAvgoY4jm)

[Protein_Supply_Quantity_Data.csv](https://drive.google.com/uc?export=download&id=19vFZ1clhjY0vyC8onnlYE63w1QpmB4oj)

[Fat_Supply_Quantity_Data.csv](https://drive.google.com/uc?export=download&id=1W1xIj5dGe9aLcg9cG6HVjlpdSqdlbue2)

[Supply_Food_Data_Descriptions.csv](https://drive.google.com/uc?export=download&id=1hG4_-D0doXkTU1e7sqZabpRXgCkHt5Hr)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Import Semua Data
df_food = pd.read_csv('Food_Supply_Quantity_kg_Data.csv')
df_protein = pd.read_csv('Protein_Supply_Quantity_Data.csv')
df_fat = pd.read_csv('Fat_Supply_Quantity_Data.csv')
df_category = pd.read_csv('Supply_Food_Data_Descriptions.csv')

---

# Soal 1: Memisahkan kolom pada supply dataset antara kategori makanan dan bukan makanan

Teman-teman diminta untuk menampilkan list kolom-kolom pada supply DataFrame dengan ketentuan sebagai berikut:

*   all columns: list yang berisikan semua kolom pada supply DataFrame
*   supply columns: list yang berisikan semua kolom pada supply DataFrame berdasarkan kolom 'Categories' pada DataFrame df_category
*   non-supply columns: list yang berisikan semua kolom non-supply pada supply DataFrame

In [27]:
# Example
all_columns = df_food.columns.tolist()
print(f'All Columns : {all_columns} \n\n')

# Code here
supply_columns = df_food[df_category['Categories']].columns.tolist()
print(f'Supply Columns : {supply_columns} \n\n')

non_supply_columns = df_food.columns.difference(df_category['Categories']).tolist()
print(f'Non Supply Columns : {non_supply_columns} \n\n')

All Columns : ['Country', 'Alcoholic Beverages', 'Animal fats', 'Animal Products', 'Aquatic Products, Other', 'Cereals - Excluding Beer', 'Eggs', 'Fish, Seafood', 'Fruits - Excluding Wine', 'Meat', 'Milk - Excluding Butter', 'Miscellaneous', 'Offals', 'Oilcrops', 'Pulses', 'Spices', 'Starchy Roots', 'Stimulants', 'Sugar & Sweeteners', 'Sugar Crops', 'Treenuts', 'Vegetable Oils', 'Vegetables', 'Vegetal Products', 'Obesity', 'Undernourished', 'Confirmed', 'Deaths', 'Recovered', 'Active', 'Population', 'Unit (all except Population)']


Supply Columns : ['Alcoholic Beverages', 'Animal fats', 'Animal Products', 'Aquatic Products, Other', 'Cereals - Excluding Beer', 'Eggs', 'Fish, Seafood', 'Fruits - Excluding Wine', 'Meat', 'Milk - Excluding Butter', 'Miscellaneous', 'Offals', 'Oilcrops', 'Pulses', 'Spices', 'Starchy Roots', 'Stimulants', 'Sugar & Sweeteners', 'Sugar Crops', 'Treenuts', 'Vegetable Oils', 'Vegetables', 'Vegetal Products']


Non Supply Columns : ['Active', 'Confirmed', 'Country', 'Deaths', 'Obesity', 'Population', 'Recovered', 'Undernourished', 'Unit (all except Population)']

Expected Output:

![Expected Output:](https://drive.google.com/uc?id=1ItjI9ALd2I8tgJ2i8pa_UjdFfKS35mNu)

---

# Soal 2: Menggabungkan DataFrame

Gabungkan semua supply DataFrame dengan ketentuan tidak ada kolom dengan nama yang sama. Untuk kolom-kolom non-supply seperti tersebut di atas, memiliki nilai yang sama untuk setiap DataFrame, sehingga cukup ambil dari salah satu DataFrame. Sedangkan untuk kolom-kolom supply seperti tersebut di atas, setiap DataFrame (df_food, df_protein, df_fat) memiliki nilai yang berbeda, sehingga teman-teman perlu menambahkan suffix berdasarkan jenis supply DataFrame-nya, misalkan untuk kolom 'eggs' teman teman harus menambahkan suffix sehingga DataFrame gabungan memiliki kolom 'eggs_food', 'eggs_protein', dan 'eggs_fat'. Untuk mendapatkan gambaran lebih jelas, silahkan lihat pada expected output.

List kolom-kolom DataFrame hasil gabungan adalah sebagai berikut:


```
 ['Country', 'Alcoholic Beverages_food', 'Animal fats_food',
  'Animal Products_food', 'Aquatic Products, Other_food',
  'Cereals - Excluding Beer_food', 'Eggs_food', 'Fish, Seafood_food',
  'Fruits - Excluding Wine_food', 'Meat_food',
  'Milk - Excluding Butter_food', 'Miscellaneous_food', 'Offals_food',
  'Oilcrops_food', 'Pulses_food', 'Spices_food', 'Starchy Roots_food',
  'Stimulants_food', 'Sugar & Sweeteners_food', 'Sugar Crops_food',
  'Treenuts_food', 'Vegetable Oils_food', 'Vegetables_food',
  'Vegetal Products_food', 'Alcoholic Beverages_protein',
  'Animal fats_protein', 'Animal Products_protein',
  'Aquatic Products, Other_protein', 'Cereals - Excluding Beer_protein',
  'Eggs_protein', 'Fish, Seafood_protein',
  'Fruits - Excluding Wine_protein', 'Meat_protein',
  'Milk - Excluding Butter_protein', 'Miscellaneous_protein',
  'Offals_protein', 'Oilcrops_protein', 'Pulses_protein',
  'Spices_protein', 'Starchy Roots_protein', 'Stimulants_protein',
  'Sugar & Sweeteners_protein', 'Sugar Crops_protein', 'Treenuts_protein',
  'Vegetable Oils_protein', 'Vegetables_protein',
  'Vegetal Products_protein', 'Alcoholic Beverages_fat',
  'Animal fats_fat', 'Animal Products_fat', 'Aquatic Products, Other_fat',
  'Cereals - Excluding Beer_fat', 'Eggs_fat', 'Fish, Seafood_fat',
  'Fruits - Excluding Wine_fat', 'Meat_fat',
  'Milk - Excluding Butter_fat', 'Miscellaneous_fat', 'Offals_fat',
  'Oilcrops_fat', 'Pulses_fat', 'Spices_fat', 'Starchy Roots_fat',
  'Stimulants_fat', 'Sugar & Sweeteners_fat', 'Sugar Crops_fat',
  'Treenuts_fat', 'Vegetable Oils_fat', 'Vegetables_fat',
  'Vegetal Products_fat', 'Obesity', 'Undernourished', 'Confirmed',
  'Deaths', 'Recovered', 'Active', 'Population',
  'Unit (all except Population)']
```

In [260]:
# Hint
df_non_supply_new = df_food[non_supply_columns]
df_food_new = df_food[['Country']+supply_columns]
df_protein_new = df_protein[['Country']+supply_columns]
df_fat_new = df_fat[['Country']+supply_columns]

In [261]:
# Selanjutnya gabungkan dataset pada hint di atas dengan menambahkan suffix berbeda untuk setiap supply dataset menggunakan pd.merge
# Code here
# df = df.drop(df.index, inplace=True)
df_food_new.columns = df_food_new.columns.map(lambda x: str(x) + '_food')
df_food_new = df_food_new.rename(columns={'Country_food':'Country'})
df_supply = pd.merge(df_protein_new, df_fat_new, on='Country', suffixes=('_protein','_fat'))
df = pd.merge(df_food_new, df_supply, on='Country')
df = pd.merge(df, df_non_supply_new, on='Country')
df

,Country,Alcoholic Beverages_food,Animal fats_food,Animal Products_food,"Aquatic Products, Other_food",Cereals - Excluding Beer_food,Eggs_food,"Fish, Seafood_food",Fruits - Excluding Wine_food,Meat_food,...,Vegetables_fat,Vegetal Products_fat,Active,Confirmed,Deaths,Obesity,Population,Recovered,Undernourished,Unit (all except Population)
0,Afghanistan,0.0014,0.1973,9.4341,0.0000,24.8097,0.2099,0.0350,5.3495,1.2020,...,0.3593,28.3684,0.046375,0.081402,0.001895,4.5,38042000.0,0.033132,29.8,%
1,Albania,1.6719,0.1357,18.7684,0.0000,5.7817,0.5815,0.2126,6.7861,1.8845,...,0.6503,17.9998,0.033695,0.084045,0.001924,22.3,2858000.0,0.048425,6.2,%
2,Algeria,0.2711,0.0282,9.6334,0.0000,13.6816,0.5277,0.2416,6.3801,1.1305,...,0.5145,35.5857,0.006923,0.030579,0.002067,26.6,43406000.0,0.021589,3.9,%
3,Angola,5.8087,0.0560,4.9278,0.0000,9.1085,0.0587,1.7707,6.0005,2.0571,...,0.1231,34.7010,0.000557,0.000850,0.000035,6.8,31427000.0,0.000258,25,%
4,Antigua and Barbuda,3.5764,0.0087,16.6613,0.0000,5.9960,0.2274,4.1489,10.7451,5.6888,...,0.2469,22.2995,0.045361,0.071134,0.003093,19.1,97000.0,0.022680,NaN,%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),2.5952,0.0403,14.7565,0.0000,12.9253,0.3389,0.9456,7.6460,3.8328,...,0.1851,33.6855,0.012639,0.018576,0.000154,25.2,28516000.0,0.005783,21.2,%
166,Vietnam,1.4591,0.1640,8.5765,0.0042,16.8740,0.3077,2.6392,5.9029,4.4382,...,0.6373,16.7548,0.000026,0.000371,0.000000,2.1,95656000.0,0.000345,9.3,%
167,Yemen,0.0364,0.0446,5.7874,0.0000,27.2077,0.2579,0.5240,5.1344,2.7871,...,0.1667,37.4535,0.001324,0.003834,0.001036,14.1,29162000.0,0.001475,38.9,%
168,Zambia,5.7360,0.0829,6.0197,0.0000,21.1938,0.3399,1.6924,1.0183,1.8427,...,0.1567,40.3939,0.001254,0.008717,0.000123,6.5,17861000.0,0.007340,46.7,%
169,Zimbabwe,4.0552,0.0755,8.1489,0.0000,22.6240,0.2678,0.5518,2.2000,2.6142,...,0.0789,39.6248,0.002861,0.003872,0.000041,12.3,14645000.0,0.000970,51.3,%

Expected output (kolom tidak semua ditampilkan):
![Expected Output:](https://drive.google.com/uc?id=1_thZs6C82RhDFqWo5yGuZV_OWhgvqsnu)

---

# Soal 3: Sorting dan Filtering

Dari DataFrame hasil penggabungan pada Soal 2 (atau gunakan salah satu supply DataFrame karena kolom nilai non-supply memiliki nilai yang sama), kemudian urutkan data (sort) berdasarkan kolom kematian ('Deaths') dari yang terbesar. Setelah itu lakukan perintah berikut:

- Print data hasil sorting
- Urutan ke berapakah Indonesia berdasarkan tingkat kematian akibat COVID-19 setelah diurutkan dari yang terbesar? Gunakan code mendapatkan nilainya! 
- Berapa persen dari terkonfirmasi jumlah kematian akibat COVID-19 di Indonesia? Hitung jumlah orang yang meninggal! Gunakan code mendapatkan nilainya! #hint: jumlah orang yang meninggal = populasi * kematian --> jangan lupa ada yang masih dalam persen

In [266]:
# Urutkan (sorting) dan print hasil sorting
# Code here
df_sorted = df.fillna(0)
df_sorted['Rank'] = df_sorted['Deaths'].rank(ascending=0)
df_sorted = df_sorted.sort_values(by=['Rank'])
df_sorted

,Country,Alcoholic Beverages_food,Animal fats_food,Animal Products_food,"Aquatic Products, Other_food",Cereals - Excluding Beer_food,Eggs_food,"Fish, Seafood_food",Fruits - Excluding Wine_food,Meat_food,...,Vegetal Products_fat,Active,Confirmed,Deaths,Obesity,Population,Recovered,Undernourished,Unit (all except Population),Rank
14,Belgium,5.3730,0.8559,17.7279,0.0010,6.6704,0.6487,1.1325,4.1623,3.2370,...,23.2622,0.302164,0.534954,0.084936,24.5,11458000.0,0.147853,<2.5,%,1.0
159,United Kingdom,5.2632,0.2754,18.8798,0.0006,6.5412,0.6210,1.0911,4.9551,4.4181,...,24.1332,0.400464,0.467793,0.065288,29.5,66833000.0,0.002041,<2.5,%,2.0
141,Spain,5.3152,0.2357,18.3382,0.0011,6.0548,0.7321,2.2646,4.8332,5.3456,...,30.4731,0.148814,0.528477,0.060211,27.1,47073000.0,0.319453,<2.5,%,3.0
74,Italy,3.1892,0.2834,19.0329,0.0005,8.5417,0.6247,1.5816,6.0207,4.2963,...,28.1306,0.027643,0.398227,0.057566,22.9,60345000.0,0.313018,<2.5,%,4.0
145,Sweden,4.4232,1.0442,24.0627,0.0000,6.1923,0.7266,1.7659,3.5405,4.1476,...,21.5852,0.581927,0.633259,0.051332,22.1,10286000.0,0.000000,<2.5,%,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,Saint Vincent and the Grenadines,2.5260,0.0220,11.0865,0.0000,9.0142,0.3412,1.3785,10.4710,6.9184,...,25.5315,0.000000,0.026126,0.000000,23.8,111000.0,0.026126,5.7,%,159.0
131,Samoa,1.4236,0.2262,11.1630,0.1236,3.6768,0.1314,2.7788,10.7845,5.7993,...,28.3194,0.000000,0.000000,0.000000,45.5,199000.0,0.000000,2.7,%,159.0
49,Fiji,1.8598,0.2922,7.8511,0.0021,10.1440,0.2682,2.3832,2.1636,3.0004,...,29.9554,0.000000,0.002018,0.000000,30.0,892000.0,0.002018,3.7,%,159.0
156,Uganda,6.1671,0.0352,5.6473,0.0000,6.7480,0.0815,1.0442,11.3112,0.8978,...,37.6917,0.000147,0.001940,0.000000,4.1,44270000.0,0.001794,41,%,159.0
52,French Polynesia,4.6997,0.0309,14.3585,0.0169,7.6479,0.5386,3.4809,4.3512,7.0798,...,24.8404,0.000000,0.000000,0.000000,0.0,279000.0,0.000000,4.2,%,159.0

In [274]:
# Urutan ke berapakah Indonesia
# Code here
indonesia = df_sorted.iloc[69]['Rank']
print(f'Indonesia ada pada urutan {int(indonesia)}')

Indonesia ada pada urutan 70

In [275]:
# Berapa persen jumlah kematian di Indonesia? Berapa Jumlahnya?
# Code here
meninggal_persen = df.iloc[69]['Deaths']
meninggal = df.iloc[69]['Population']*meninggal_persen

print(f'Jumlah yang meninggal di Indonesia ada {round(meninggal_persen, 10)}% dari jumlah populasi.') # 10 digit
print(f'Jumlah yang meninggal di Indonesia ada {round(meninggal)} orang.')

Jumlah yang meninggal di Indonesia ada 0.0010260078% dari jumlah populasi.
Jumlah yang meninggal di Indonesia ada 275400.0 orang.

---

# Soal 4: Binning, Grouping, dan Aggregating data

Lakukan binning pada kolom terkonfirmasi (Confirmed) COVID-19 dari DataFrame df_fat menjadi 5 bagian (q=5). Teman-teman dapat menggunakan fungsi qcut untuk melakukan bininng ini. Masukan data hasil binning tersebut menjadi kolom baru pada DataFrame df_fat. Beri nama kolom tersebut dengan 'Confirmed Category'. Berikan label 'Sangat Tidak Banyak', 'Tidak Banyak', 'Sedang', 'Cukup Banyak', 'Sangat Banyak'.

Baca dokumentasi berikut untuk fungsi qcut : https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.qcut.html

Kemudian lakukan perintah-perintah berikut:
- Buat DataFrame baru yang berisi data grouping berdasarkan kolom hasil bininng atau kolom 'Confirmed Category'. 
- Lakukan grouping hanya pada kolom 'Obesity', 'Meat', 'Fruits - Excluding Wine', 'Fish, Seafood', 'Animal Products', 'Vegetal Products' saja.
- Kemudian aggregate dengan fungsi mean. (df_baru = df_fat.groupby(...).mean())
- Save DataFrame hasil binning, grouping, dan aggregating ke dalam file csv.

In [ ]:
# Lakukan binning pada kolom terkonfirmasi untuk DataFrame df_fat
labels = ['Sangat Tidak Banyak', 'Tidak Banyak', 'Sedang', 'Cukup Banyak', 'Sangat Banyak']

# Code here
df_fat['Confirmed Category'] = ...

In [ ]:
# Lakukan grouping pada kolom hasil binning ('Confirmed Category'), kemudian aggregate menggunakan fungsi mean
cols = ['Obesity', 'Meat', 'Fruits - Excluding Wine', 'Fish, Seafood', 'Animal Products', 'Vegetal Products']

# Code here
groupby_confirmed = ...
groupby_confirmed

Expected output:
![Expected Output:](https://drive.google.com/uc?id=1jw1uGaSHaKlY9ILghmTTlO9NqhQpq8Ad)

In [ ]:
# Save DataFrame hasil binning, grouping, dan aggregating

groupby_confirmed.to_csv('groupby_confirmed.csv')

---

# Soal 5: Bar plot

Gunakan data grouping pada soal sebelumnya untuk melakukan visualisasi. Jika kalian tidak dapat menyelesaikan soal tersebut, maka silahkan [download](https://drive.google.com/uc?export=download&id=1l5wFAKKShPQQvIe0rQ7C4Xog9tt_WDN0) data berikut yang merupakan hasil dari data grouping soal 4.

Normalisasi data hasil grouping tersebut dengan rumus min-max normalisasi seperti rumus berikut ini. Kemudian buatlah grouping Visualization dengan berplot, visualisasikan data column 'Obesity', 'Fruits - Excluding Wine', 'Fish, Seafood', 'Animal Products' dan 'Vegetal Products'.

\begin{equation*}
 X_{norm} = \dfrac{X - X_{min}}{X_{max} - X_{min}}
\end{equation*}

In [277]:
# Gunakan DataFrame hasil grouping soal 4 atau read data hasil download jika tidak dapat mengerjakan soal 4
# df = groupby_confirmed

# Atau

df = pd.read_csv('groupby_confirmed.csv').set_index('Confirmed Category')

# Lihat df dan pastikan sesuai dengan expected output pada soal 4
display(df)

,Obesity,Meat,Fruits - Excluding Wine,"Fish, Seafood",Animal Products,Vegetal Products
Confirmed Category,,,,,,
Sangat Tidak Banyak,9.746875,8.945094,0.654076,0.898570,15.980406,34.019118
Tidak Banyak,19.378125,9.567672,0.552212,0.868281,20.006928,29.993700
Sedang,17.009375,8.294041,0.504541,0.773247,19.504572,30.496775
Cukup Banyak,22.228125,10.264081,0.488122,0.546644,24.330928,25.668950
Sangat Banyak,24.100000,9.777675,0.551213,0.946981,24.046600,25.953034

In [286]:
# Lakukan normalisasi pada DataFrame df
# Code here
def normalize(column):
    minim = column.min()
    maxim = column.max()
    norm = (column - minim) / (maxim - minim)
    return norm

df_norm = df.apply(normalize)

# Lihat df_norm dan pastikan sesuai dengan expected output
df_norm

,Obesity,Meat,Fruits - Excluding Wine,"Fish, Seafood",Animal Products,Vegetal Products
Confirmed Category,,,,,,
Sangat Tidak Banyak,0.000000,0.330477,1.000000,0.879073,0.000000,1.000000
Tidak Banyak,0.671021,0.646500,0.386195,0.803416,0.482188,0.517924
Sedang,0.505987,0.000000,0.098936,0.566030,0.422029,0.578171
Cukup Banyak,0.869584,1.000000,0.000000,0.000000,1.000000,0.000000
Sangat Banyak,1.000000,0.753098,0.380170,1.000000,0.965951,0.034021

Expected output:
![Expected Output:](https://drive.google.com/uc?id=1BFzcOFHbZMnw0wqbwl8K6IEiVmurqG84)

In [ ]:
# Buat bar plot dari df_norm sesuai dengan expected output
# Code here


# Untuk menambahkan label di atas barplot lihat https://matplotlib.org/3.1.1/gallery/lines_bars_and_markers/barchart.html

# fig.legend()
# plt.show()

Expected output:
![Expected Output:](https://drive.google.com/uc?id=11x5OMAB8mbZurD0qntxcwOcWYCQSegy8)

---

# Soal 6: Scatter plot

Buatlah visualisasi scatter plot dari df_food antara Supply Sayuran ('Vegetal Products') dan persentase terkonfirmasi ('Confirmed') COVID-19 sesuai expected output dengan ketentuan berikut:


* Gunakan kolom persentase kematian ('Death') sebagai ukuran pointnya kalikan suatu angka yang cukup besar agar terlihat.
    
* Gunakan kolom persentase produk hewani ('Animal Products') sebagai warna point, berikan colormap 'viridis'.

In [ ]:
fig, ax = plt.subplots(figsize=(18, 12))

# Code here
colors=
plt.scatter(df_norm['Vegetal Products'], df_norm['Confirmed'], s=area, c=colors, alpha=0.5)

plt.show()

Expected output:
![Expected Output:](https://drive.google.com/uc?id=1wJh3tfkPbrkf3_F73RW0kABBt_NO8q53)